#!/usr/bin/make -f
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export QT_SELECT = qt5

%:
	dh $@ --with bash-completion

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release

override_dh_auto_install:
	dh_auto_install
	dh_install data/nitrokey-app-small.xpm usr/share/pixmaps

#	cp -r data/icons/ubuntu-mono-dark/* debian/nitrokey-app/usr/share/icons/ubuntu-mono-dark/
#	cp -r data/icons/ubuntu-mono-dark/* debian/nitrokey-app/usr/share/icons/breeze-dark/
#	cp -r data/icons/ubuntu-mono-dark/* debian/nitrokey-app/usr/share/icons/Humanity-Dark/
#	cp -r data/icons/ubuntu-mono-light/* debian/nitrokey-app/usr/share/icons/ubuntu-mono-light/
#	cp -r data/icons/ubuntu-mono-light/* debian/nitrokey-app/usr/share/icons/breeze/
#	cp -r data/icons/ubuntu-mono-light/* debian/nitrokey-app/usr/share/icons/Humanity/
#	cp -r data/icons/hicolor/* debian/nitrokey-app/usr/share/icons/hicolor/
#	cp -r data/icons/hicolor/* debian/nitrokey-app/usr/share/icons/Adwaita/

#	install -m644 data/nitrokey-app.desktop debian/nitrokey-app/usr/share/applications/nitrokey-app.desktop
#	install -m644 data/icons/hicolor/48x48/apps/nitrokey-app.png debian/nitrokey-app/usr/share/pixmaps/nitrokey-app.png
